.venv
.env
.csv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (VENV)
venv/
.venv/
env/
.env
ENV/
bin/
lib/
include/

# Distribuição / Pacotes
dist/
build/
*.egg-info/
*.egg
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Configurações de IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Variáveis de ambiente (Segurança!)
.env
.flaskenv

# Bancos de dados locais
*.db
*.sqlite3